  body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color:#926239;
  }

  h1{
    padding-top: 400px;
    margin:0;
    text-align: center;
    font-size: 50px;
  }
  p{
    text-align: center;
  }

  #showcase{
    background-image: url('http://traversymedia.com/downloads/assets/beachshowcase.jpg');
    height:1000px; 
    background-size:cover; 
  }

  #showcase .button{
    background-color: none;
    color: inherit;
    border:1px solid #926239;
    border-radius: 8px;
    width: max-content;
    padding: 20px;
    text-decoration: none;
    font:inherit;
    display: inline-block;
    font-size: 18px;
    margin:20px 45vw 50px;
  }
  #showcase .button:hover{
    background:#926239;
    color:#fff;
  }
  #section-a{
    padding:20px;
    background:#926239;
    color:#fff;
    text-align:center;
  }
  #section-b{
    padding:20px;
    background:#f4f4f4;
    text-align:center;
  }
  
  #section-c div{
    padding: 20px;
    display: inline-block;
    text-align: center;
    background-position:center;
  }
  .box-1{
    display: inline-block;
    width: 32%;
    box-sizing: border-box;
    background:#926239;
    color:#fff;
  } 
  .box-2{
    background:#f9f9f9;
    width: 32%;
    display: inline-block;
  }
  .box-3{
    background:#926239;
    color:#fff;
    width: 32%;
    box-sizing: border-box;
    display: inline-block;
  }